<div class="container mt-4">

  <div class="card shadow p-4 text-center">

    <h4>✏️ Select Your Seats</h4>
    <p class="text-muted">{{ movieName }} - {{ theatreName }}</p>

    <p>No. of Tickets: <b>{{ ticketCount }}</b></p>

    <div class="d-flex flex-wrap justify-content-center gap-2 mt-3">

      <button
        *ngFor="let seat of seats"
        class="seat"
        [class.selected]="seat.selected"
        [class.booked]="seat.booked"
        [disabled]="seat.booked"
        (click)="toggleSeat(seat)"
      >
        {{ seat.id }}
      </button>

    </div>

    <button
      class="btn btn-info w-100 mt-4"
      (click)="confirmBooking()"
    >
      Confirm Booking
    </button>

  </div>

</div>
